@model MovieForum.Web.Models.MovieCommentWrap
@inject MovieForum.Services.Interfaces.IUserServices userServices
@inject MovieForum.Services.Interfaces.IMoviesServices movieServices


<html>

<head>
     <title>Movie: @this.Model.MovieDTO.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="Movie">
    <title>Anime | Template</title>

    <style>
        ul > li {
            display: inline-block;
            /* You can also add some margins here to make it look prettier */
        }
    </style>

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/popForm.css" type="text/css">
</head>
@{
    var userCheck = await this.userServices.GetUserByEmailAsync(this.User.Identity.Name);
}
<body>

    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" img-src="Images/Image_500.jpg">
                            <img src="~/@this.Model.MovieDTO.ImagePath" />
                            <div class="comment"><i class="fa fa-comments"></i> @this.Model.MovieDTO.Comments.Count</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>@this.Model.MovieDTO.Title</h3>
                                <span>@this.Model.MovieDTO.Username  Posted: @{((DateTime)this.Model.MovieDTO.Posted).ToString("MM/dd/yyyy h:mm tt");}</span>
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    @*<a href="#"><i class="fa fa-star"></i></a>*@

                                    <button class="fa fa-star" onclick="openForm()"></button>
                                    <div class="form-popup" id="myFormRate">
                                        <form asp-controller="Movies" asp-action="Rate" method="post" class="form-container">
                                            <input asp-for="rateMovieView.Rate" type="number" min="0" max="10">
                                            <input type="hidden" asp-for="rateMovieView.MovieId" value="@this.Model.MovieDTO.Id">
                                            <input type="hidden" asp-for="rateMovieView.UserId" value="@userCheck.Id">
                                            <br />
                                            @{
                                                if (this.Model.MovieDTO.RatedBy.Contains(userCheck.Id))
                                                {
                                                    <button type="submit" class="btn btn-secondary" disabled style="background: lightgrey">Rate</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-success">Rate</button>
                                                }
                                            }
                                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                        </form>
                                    </div>
                                </div>
                                <span>@String.Format("{0:0.0}", this.Model.MovieDTO.Rating)/10.0</span>
                            </div>
                            <p>@this.Model.MovieDTO.Content</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Genre:</span> @this.Model.MovieDTO.Genre.Name</li>
                                            <li><span>Release aired:</span> @this.Model.MovieDTO.ReleaseDate.ToString("MMMM dd, yyyy")</li>
                                            <li>
                                                <span>Tags:</span>
                                                @string.Join(", ", this.Model.MovieDTO.Tags.Select(x => x.TagName))
                                            </li>
                                            <li>
                                                <span>Actors:</span>
                                                @string.Join(", ", this.Model.MovieDTO.Cast.Select(x => x.ToString()))
                                            </li>
                                        </ul>
                                        @{
                                            if (userCheck.Id == this.Model.MovieDTO.AuthorId || this.User.HasClaim(x=>x.Value=="Admin"))
                                            {

                                                <form asp-controller="Movies" asp-action="Delete" method="post">
                                                    <input type="hidden" asp-for="MovieDTO.Id" value="@this.Model.MovieDTO.Id" />
                                                    <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                                                </form>
                                               
                                            }
                                            if (userCheck.Id == this.Model.MovieDTO.AuthorId)
                                            {
                                                <a asp-controller="Movies" asp-action="Edit" asp-route-id="@this.Model.MovieDTO.Id" class="btn btn-warning" style="margin-top: 5px">Edit</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="anime__details__review">
                        <div class="section-title">
                            <h5>Comments</h5>
                        </div>

                        @foreach (var comment in movieServices.GetMovieComments(this.Model.MovieDTO.Id))
                        {
                            var user = await @userServices.GetUserDTOByIdAsync((int)comment.AuthorId);
                            var imagePath = user.ImagePath;
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="~/Images/@imagePath" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <ul>
                                        @{
                                            if (userCheck.Id != comment.AuthorId)
                                            {
                                                <h6>@user.Username <span>@{((DateTime)comment.PostedOn).ToString("MM/dd/yyyy h:mm tt");}</span></h6>
                                                <p>
                                                    @comment.Content
                                                </p>
                                                if (this.User.HasClaim(x => x.Value == "Admin"))
                                                {

                                                    <li>
                                                        <form asp-controller="Comment" asp-action="Delete" method="post">

                                                            <input type="hidden" asp-for="commentViewModel.MovieId" value="@this.Model.MovieDTO.Id">
                                                            <input type="hidden" asp-for="commentViewModel.Id" value="@comment.Id">
                                                            <button type="submit" class="btn btn-primary"> Delete  </button>

                                                        </form>

                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <h6>@user.Username <span>@{((DateTime)comment.PostedOn).ToString("MM/dd/yyyy h:mm tt");}</span></h6>
                                                <p>
                                                    @comment.Content
                                                </p>                                               
                                                    
                                                <li>
                                                    <form asp-controller="Comment" asp-action="Delete" method="post">

                                                        <input type="hidden" asp-for="commentViewModel.MovieId" value="@this.Model.MovieDTO.Id">
                                                        <input type="hidden" asp-for="commentViewModel.Id" value="@comment.Id">
                                                        <button type="submit" class="btn btn-primary"> Delete  </button>

                                                    </form>

                                                </li>
                                                <li>
                                                    <button class="btn btn-primary" onclick="openForm()">Edit</button>
                                                    <div class="form-popup" id="myForm">
                                                        <form asp-controller="Comment" asp-action="Edit" method="post" class="form-container">

                                                            <textarea asp-for="commentViewModel.Content" rows="10" cols="30" placeholder="@comment.Content"></textarea>
                                                            <span asp-validation-for="commentViewModel.Content" class="form-error"></span>
                                                            <input type="hidden" asp-for="commentViewModel.MovieId" value="@this.Model.MovieDTO.Id">
                                                            <input type="hidden" asp-for="commentViewModel.Id" value="@comment.Id">

                                                            <button type="submit" class="btn">Edit</button>
                                                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                                        </form>
                                                    </div>
                                                </li>


                                            }
                                        }
                                        <li>
                                            <form asp-controller="Comment" asp-action="Like" method="post">

                                                <input type="hidden" asp-for="commentViewModel.MovieId" value="@this.Model.MovieDTO.Id">
                                                <input type="hidden" asp-for="commentViewModel.Id" value="@comment.Id">
                                                <button type="submit" class=" btn btn-primary">Like @comment.LikesCount </button>
                                            </form>
                                        </li>
                                        <li>
                                            <form asp-controller="Comment" asp-action="Dislike" method="post">

                                                <input type="hidden" asp-for="commentViewModel.MovieId" value="@this.Model.MovieDTO.Id">
                                                <input type="hidden" asp-for="commentViewModel.Id" value="@comment.Id">
                                                <button type="submit" class="btn btn-primary">Dislike @comment.DisLikesCount </button>
                                            </form>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        }

                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form asp-controller="Comment" asp-action="Create" method="post">
                                <textarea asp-for=" commentViewModel.Content" placeholder="Your Comment"></textarea>
                                <span asp-validation-for="commentViewModel.Content" class="form-error"></span>
                                <input type="hidden" asp-for="commentViewModel.MovieId" value="@this.Model.MovieDTO.Id">
                                <button type="submit"><i class="fa fa-location-arrow"></i> Comment</button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
<script>
    function openForm() {
        document.getElementById("myFormRate").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myFormRate").style.display = "none";
    }
</html>
