@model MovieForum.Services.DTOModels.MovieDTO
@inject MovieForum.Services.Interfaces.IMoviesServices movieServices

<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/plyr.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- swiper css -->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">

</head>
<body>

    <div class="title">
        <div class="title-content">
            <h1 class="title-title">Welcome to <br> Movie forum!</h1>
            <p class="title-subtitle">This is the place where you can share your amazing expirience with the movies that you love, laugh and enjoy!</p>

            @{
                if (this.User.Identity.Name == null)
                {
                    <a asp-controller="Auth" asp-action="Login" class="btn btn-theme-color modal-toggle"><i class="ti-control-play text-danger"></i> SingIn</a>
                    <a asp-controller="Auth" asp-action="Register" class="btn btn-theme-color modal-toggle"><i class="ti-control-play text-danger"></i> SignUp</a>
                }
            }

        </div>
    </div><!-- end of page header -->
    <br>
    <br>
    <br>
    <br>
    <div class="section-title">
        <h4>Most recent posts</h4>
        <br>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    @foreach (var item in await this.movieServices.GetMostRecentPostsAsync())
                    {
                        if (this.User.Identity.Name == null)
                        {
                            <div class="card swiper-slide " style="background-color: transparent">
                                <div class="product__item__pic set-bg">
                                    <img src="~/@item.ImagePath">
                                    <div class="comment"><i class="fa fa-comments"></i>  @item.Comments.Count</div>
                                    <div class="view"><i class="fa fa-star"></i> @string.Format("{0:0.0}", item.Rating)</div>
                                </div>
                                <div class="product__item__text">
                                    <h6>@item.Title</h6>
                                </div>

                            </div>

                        }
                        else
                        {
                            <div class="card swiper-slide " style="background-color: transparent">
                                <a href="movies/movie/@item.Id">
                                    <div class="product__item__pic set-bg">
                                        <img src="~/@item.ImagePath">
                                        <div class="comment"><i class="fa fa-comments"></i>  @item.Comments.Count</div>
                                        <div class="view"><i class="fa fa-star"></i> @string.Format("{0:0.0}", item.Rating)</div>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@item.Title</h6>
                                    </div>

                                </a>
                            </div>
                        }

                    }
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <br>
                <br>
                <br>
                <div class="swiper-pagination"></div>
            </div>

        </div>


    </div>
    <br>
    <div class="section-title">
        <h4>Most commented posts</h4>
        <br>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    @foreach (var item in await this.movieServices.GetTopCommentedAsync())
                    {
                        if (this.User.Identity.Name == null)
                        {
                            <div class="card swiper-slide " style="background-color: transparent">
                                <div class="product__item__pic set-bg">
                                    <img src="~/@item.ImagePath">
                                    <div class="comment"><i class="fa fa-comments"></i>  @item.Comments.Count</div>
                                    <div class="view"><i class="fa fa-star"></i>@string.Format("{0:0.0}", item.Rating)</div>
                                </div>
                                <div class="product__item__text">
                                    <h6>@item.Title</h6>
                                </div>

                            </div>

                        }
                        else
                        {

                            <div class="card swiper-slide " style="background-color: transparent">
                                <a href="movies/movie/@item.Id">
                                    <div class="product__item__pic set-bg">
                                        <img src="~/@item.ImagePath">
                                        <div class="comment"><i class="fa fa-comments"></i>  @item.Comments.Count</div>
                                        <div class="view"><i class="fa fa-star"></i>@string.Format("{0:0.0}", item.Rating)</div>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@item.Title</h6>
                                    </div>

                                </a>
                            </div>
                        }

                    }

                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <br>
                <br>
                <br>
                <div class="swiper-pagination"></div>
            </div>

        </div>


    </div>
    </section>
</body>
<!-- Swiper JS -->
<!--Uncomment this line-->
<script src="js/swiper-bundle.min.js"></script>
<!-- JavaScript -->
<!--Uncomment this line-->
<script src="js/script.js"></script>

</html>